<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Trip Info</title>
  </head>
  <body>
    <div id="wrapper">
      <a href="/home">Home</a>
      <div class="header">
      </div>
      {% for destination in destinations %}
        <h1>{{ destination.name }}</h1>
        {% for user in users %}
        <p>Planned by: {{ user.name }}</p>
        {% endfor %}
        <p>Description: {{ destination.desc }}</p>
        <p>Travel Date From: {{ destination.td_from }}</p>
        <p>Travel Date To: {{ destination.td_to }}</p>
      {% endfor %}

      <div class="desc">
        <h4>Other users joining the trip: </h4>
      </div>
      <div class="list_users">
        {% for user in users %}
          <p>{{ user.name }}</p>
        {% endfor %}
      </div>
    </div>
  </body>
</html>
